@import "tailwindcss";

@font-face {
  font-family: "Sohn";
  src: local("Sohn") url("../fonts/TestSohne-BuchKursiv-BF663d89cd3e887.otf")
    format("opentype");
}
a{
  @apply font-bold cursor-pointer
}


h2{
  @apply text-xl
}
h1,
h2,
h3,
h4,
h5,
h6 {
@apply font-bold overflow-y-hidden
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Sohn, Arial, Helvetica, sans-serif;
}

.box {
  @apply max-w-[85%] lg:max-w-[1000px] mx-auto;
}

.rotate{
  animation: roll 1s 1
}
@keyframes roll {
  from{
    transform: rotate(0deg);
  } to{
    transform: rotate(360deg);
  }
}
.primaryBtn{
  @apply w-full lg:w-[50%]  mx-auto lg:mx-0 bg-black text-white px-6 py-2 lg:py-6 flex items-center justify-center rounded-full text-sm
}
.ratingStar{
  @apply flex gap-1
}
.slideright{
  animation: slideright 100s infinite;
}
@keyframes slideright {
 from{ transform:translateX(50%)}
 to{ transform:translateX(-100%)}
}


.slideleft{
  animation: slideleft 100s infinite;
}
@keyframes slideleft {
 from{ transform:translateX(-50%)}
 to{ transform:translateX(100%)}
}