@import "tailwindcss";

@font-face {
  font-family: "Sohn";
  src: local("Sohn") url("../fonts/TestSohne-BuchKursiv-BF663d89cd3e887.otf")
    format("opentype");
}
a {
  @apply font-bold cursor-pointer;
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

h2 {
  @apply text-xl;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold overflow-y-hidden;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: Sohn, Arial, Helvetica, sans-serif;
}

.box {
  @apply max-w-[85%] lg:max-w-[1000px] mx-auto;
}
.Animwrapper {
  width: 100%;
  overflow-x: hidden;
}
.innerwrapper {
  animation: moveLeft 5s linear infinite;
}
@keyframes moveLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-10%);
  }
}
.rotate {
  animation: roll 1s 1;
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.homeLastSecBG {
  background-image: linear-gradient(to top, #9b53df, #dac6fd);
  animation: changebg 3s infinite;
}
@keyframes changebg {
  0% {
    background-image: linear-gradient(45deg, #9b53df, #dac6fd);
  }
  50% {
    background-image: linear-gradient(45deg, #9b53df, #dac6fd);
  }
  100% {
    background-image: linear-gradient(45deg, #9b53df, #f77a44, #ebddea);
  }
}

.QRanim {
  animation: increaseWidth 4s 3 20s;
}
@keyframes increaseWidth {
  0% {
    width: 400px;
  }
  50% {
    width: 280px;
  }
  100% {
    width: 400px;
  }
}
.primaryBtn {
  @apply w-full lg:w-[50%]  mx-auto lg:mx-0 bg-black text-white px-6 py-2 lg:py-6 flex items-center justify-center rounded-full text-sm;
}
.ratingStar {
  @apply flex gap-1 text-[#10b981];
}
.slideright {
  animation: slideright 100s infinite;
}
@keyframes slideright {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-100%);
  }
}

.slideleft {
  animation: slideleft 100s infinite;
}
@keyframes slideleft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(100%);
  }
}
.businessCardBG {
  background-image: linear-gradient(to top, #b273fe, #efe0ff);
}
.businessCard2Bg {
  background-image: linear-gradient(to top, #220249, #5a2b93, #25096b);
}
.businessCard3Bg {
  background-image: linear-gradient(to top, #fff, #b273fe);
}
.cardanim1 {
  animation: show1 5s 2s infinite;
}
.cardanim2 {
  animation: show2 5.5s infinite;
}
@keyframes show1 {
  0% {
    transform: translateY(200px);
  }
  50% {
    transform: translate(0px);
  }
  100% {
    transform: translateY(200px);
  }
}
@keyframes show2 {
  0% {
    transform: translateY(200px);
  }
  50% {
    transform: translate(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.view-cardShadow {
  box-shadow: 0px 10px 300px #c6afef;
}
.card1 {
  animation: moveup 5s infinite 3s;
}
@keyframes moveup {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-150px);
  }
}
.card2 {
  animation: moveDown 5s infinite 1.5s;
}
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-150px);
  }
}

.text-bg {
  background-image: linear-gradient(
    to right,
    #00008b,
    #211eff,
    #cf6414,
    #472207
  );
}

.signin_inputStyle1 {
  @apply p-3 border-none focus:border-none focus:outline-none text-[10px] px-5 w-[70%];
}
.signin_inputStyle1::placeholder {
  @apply text-black;
}
.signin_inputStyle2 {
  @apply p-3 border-none focus:border-none focus:outline-none text-[10px] px-5 text-red-500 w-[70%];
}
.signin_inputStyle2::placeholder {
  @apply text-red-500;
}
.AmountInput::placeholder {
  font-weight: bold;
  color: black;
}
